<div id="slide_movie" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {% for one_list in results %}
      {% if one_list == results[0] %}
        <div class="item active">
      {% else %}
        <div class="item">
      {% endif %}
          <div class='row'>
            {% for m in one_list %}
              <div class='col-xs-6 col-md-3'>
                <a href="{{url_for('search', q = m.title)}}" class='thumbnail'>
                  <img src="{{m.cover}}" alt="{{m.title}}">
                  <div class="caption">
                    <p>
                      <span>{{m.title}}</span>&nbsp;<span class='text-danger'>{{m.rate}}</span>
                    </p>
                   </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  <a class="left carousel-control" href="#slide_movie" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slide_movie" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
